.reset-password-form{
    margin-top: 14%;
}

.reset-text-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.email-container{
    display: flex;
    justify-content: center;
}

.reset-password-button{
    display: flex;
    justify-content: center;
}

.full-width {
    width: 400px;
}

.reset-successful{
    margin-top: 14%;
    margin-left: 14%;
    width: 69%;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    
    .link-sent{
        text-align: center;
        margin-bottom: 20px;
        .mat-mdc-card-header-text{
            width: 69%;
        }
    }
}

.return-to-login{
    display: flex;
    justify-content: center;
}