


.circle {
  width: 100px;
  height: 100px;
  @media (max-width: 575px){
    width: 75px;
    height: 75px;
  }
  border-radius: 50%;
  background-color: #3880ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  margin: 10px auto;
}



.level-grid-small{
  display: none;
  @media (max-width: 575px){
    display: flex;
  }
}

.level-grid-big{
  display: none;
  @media (min-width: 576px) {
    display: flex;
  }
}

.sub-header{
  display: flex;
  justify-content: center;
  font-size: 36px;
  @media (max-width: 575px){
    font-size: 25px;
  }
  margin-top: 30px;
  margin-bottom: 30px;
}
