.menuItem{
    background-color: teal;
    color: white;
    display: flex;
    cursor: pointer;
    height: 36px;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.menuContainer{
    display: flex;
}