.problem{
  font-size: 4em;
  display: flex;
  justify-content: center;
}

.container{
  --height: auto;
}

.answer{
  margin-bottom: 20px;
}

.choices{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3em;
  margin-top: 25px;
}

.choicesColumn1{
  margin-right: 50px;
}

.answer-result{
  margin-top: 20px;
}

.answer-result-wrong{
  font-size: 4em;
  background-color: rgb(250, 7, 7);
  width: 100%;
  display: flex;
  justify-content: center;
}

.answer-result-correct
{
  font-size: 4em;
  background-color: rgb(27, 158, 73);
  width: 100%;
  display: flex;
  justify-content: center;
}
