.skills-container{
  display:flex;
  justify-content: center;
  margin-top: 20px;

  .column{
    div{
      margin-bottom: 10px;
    }
    ion-button{
      max-width: 221px;
      min-width: 193px;
    }
    margin-right: 30px;
  }
}
