.play-button{
  margin-bottom: 10px;
  margin-top: 10px;
}

.play-all-stop-button, .back-button{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.no-songs{
  margin-top: 40px;
  margin-bottom: 20px;
}
