.correct-answer{
  background-color: #008000;
}

.wrong-answer{
  background-color: #ff0000;
}

.answer-result{
  color: #fff;
  font-size: 60px;
  display: flex;
  font-weight: 900;
  margin-top: 40px;
  height: 150px;
  align-items: center;
  justify-content: center;
}


.sprite-animation {
  width: 100px; /* Adjust the width and height to match your sprite frame size */
  height: 100px;
  background-image: url('../../assets/images//test.jpeg'); /* Replace with the path to your sprite sheet */
  animation: playSpriteAnimation 1s steps(11) infinite; /* Adjust duration and steps */
}

@keyframes playSpriteAnimation {
  from {
      background-position: 0 0;
  }
  to {
      background-position: -1000px 0; /* Adjust the value based on your sprite sheet width */
  }
}


