

<div class="problems" *ngIf="!makeResultsVisible">
  <div class="sprite-animation"></div>

  <basic-problem-section (answerResult)="acceptAnswerResult($event)"
  [numberOfQuestions]="numberOfQuestions" (turnOffAnswerResult)="turnOffAnswerResult()"
  (problemsAreDone)="showResults($event)" [problemType]="subLevel">
  
  </basic-problem-section>
  
  <div *ngIf="answerResultState !== 2">
    <div *ngIf="answerResultState === 1" class="correct-answer answer-result">
      Correct!
    </div>
    <div *ngIf="answerResultState === 0" class="wrong-answer answer-result">
      Wrong
    </div>
  </div>
</div>


<div class="results" *ngIf="makeResultsVisible">
  <div>
    Results
  </div>
  <div>
    Correct: {{results.numberOfCorrectAnswers}}
  </div>
  <div>
    Wrong: {{results.numberOfWrongAnswers}}
  </div>

  <div class="incorrect-message" *ngIf="results.numberOfWrongAnswers > 0">
    <div>
      You must get all of the answers correct to receive this instrument.
    </div>
    <div>
      <button mat-flat-button (click)="tryAgain()">Try again?</button>
      <button mat-flat-button (click)="goToMenu()">Go Back To Main Menu</button>
    </div>
  </div>
</div>
