<div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Instruments">
            <div *ngIf="instrumentsEarned.length>0" >
                <div *ngFor="let i of instrumentsEarned">
                    Instrument {{i}}
                </div>
            </div>
            <div *ngIf="instrumentsEarned.length === 0">
                You Have No Instruments
            </div>
        </mat-tab>
        <mat-tab label="Bands">You Have No Bands</mat-tab>
    </mat-tab-group>
</div>