/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'Roboto', sans-serif;

  }


  .mat-mdc-button{
    font-weight: 600;
  }

  .mat-mdc-snack-bar-label{
    display: flex;
    justify-content: center;
  }

  .error-snackbar{
    div{
        background-color: #dd3737;
        color: #ffffff;
    }
    .mdc-snackbar__surface {
        background-color: #dd3737!important;
    }

  }

  .success-snackbar{
    div{
        background-color: rgb(31, 162, 31);
        color: #ffffff;
    }
    .mdc-snackbar__surface {
        background-color: rgb(31, 162, 31)!important;
    }

  }
