<div class="chalkboardContainer" fxLayout="row" fxLayoutAlign="space-between">
  <div class="chalkboardBody">
    <!-- <div class="question">
    </div> -->
    <div fxLayout="column">
      <div *ngIf="!currentQuestion">
        <div class="problemType">
          Fractions
        </div>
        <div class="beginButton">
          <button mat-button  (click)="getCurrentProblem()">
            Let's Begin
          </button>
        </div>
    </div>

    <div *ngIf="currentQuestion">

      <div class="question">
         {{currentQuestion}}
      </div>
      <div class="problemSentence" *ngIf="!hasDivisionSign">
        {{currentProblemSentence}}
      </div>
      <div class="problemSentence" *ngIf="hasDivisionSign">
        <span>{{splitCurrentProblem[0]}}</span> <span class="divisionSign">÷</span> <span>{{splitCurrentProblem[1]}}</span>
      </div>
      <div class="answerChoices">
        <div class="individualChoice {{currentResult==='Wrong' && currentLetterAnswer === 'A' ? 'correctAnswer':''}}"
          (click)="selectChoice('A')">
          A) {{currentAnswerChoices[0]}}
        </div>
        <div class="individualChoice {{currentResult==='Wrong' && currentLetterAnswer === 'C' ? 'correctAnswer':''}}"
          (click)="selectChoice('C')">
          C) {{currentAnswerChoices[2]}}
        </div>
      </div>
      <div class="answerChoices">
        <div class="individualChoice {{currentResult==='Wrong' && currentLetterAnswer === 'B' ? 'correctAnswer':''}}"
        (click)="selectChoice('B')">
         B) {{currentAnswerChoices[1]}}
        </div>
        <div class="individualChoice {{currentResult==='Wrong' && currentLetterAnswer === 'D' ? 'correctAnswer':''}}"
        (click)="selectChoice('D')">
         D) {{currentAnswerChoices[3]}}
        </div>
      </div>
      <div class="choice-result">
        <span class="check-mark"  *ngIf="currentResult==='Correct'">✓ </span><span  *ngIf="currentResult==='Correct'">Correct</span>
        <span class="error-mark" *ngIf="currentResult==='Wrong'">x </span><span *ngIf="currentResult==='Wrong'">Wrong</span>
      </div>
      <div class="beginButton" >
        <button mat-button  (click)="getCurrentProblem()">
          Let's Begin
        </button>
      </div>
  </div>

</div>
</div>
