/* Center the form on the page */
.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style the form fields */
  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  

  .almost-complete{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    margin-top: 11%;
    margin-bottom: 40px;
  }

  .check-email{
    display: flex;
    text-align: center;
    font-size: 18px;
    width: 629px;
  }

  .registration-notification{
    display: flex;
    flex-direction: column;
    align-items: center;
  }